code {
  &.language-html {
    // color: #686e77;
    color: #a0aec0;
  }

  &.language-scss {
    // color: #686e77;
    color: #a0aec0;
  }

  &.language-css {
    // color: #686e77;
    color: #a0aec0;
  }

  &.language-bash {
    // color: #686e77;
    color: #a0aec0;
  }

  &.language-js {
    // color: #686e77;
    color: #a0aec0;
  }
}

span {
  &.token.comment {
    // color: #a0aec0;
    color: #5f6b79;
  }

  &.token.tag {
    // color: #686e77;
    color: #a0aec0;
  }

  &.token.attr-name {
    // color: #686e77;
    color: #a0aec0;
  }

  &.token.attr-value {
    // color: #2d3748;
    // color: #FFC107;
    color: #f8761f;
  }

  &.token.punctuation {
    // color: #686e77;
    color: #a0aec0;
  }

  &.token.string {
    // color: #686e77;
    color: #a0aec0;
  }

  &.token.atrule-line {
    // color: #686e77;
    color: #a0aec0;
  }

  &.token.keyword {
    color: #a0aec0;
  }

  &.token.function {
    // color: #FFC107!important;
    color: #f8761f !important;
  }
}
