<y class="flex flex-wrap justify-start items-center">

  {% for data in community.sns %}
    {% for item in data.networks %}

      <a
        class="block (xs)w-full (lg)w-1/2"
        href="{{ item.url | safe }}"
        target="_blank"
        rel="noopener"
      >
        <y class="flex justify-start items-center pl-6 pr-4 py-4 border-4 border-transparent (hover)border-gray-400 rounded-lg transition duration-300 ease-in-out">
          <img
            theme="auto"
            class="h-32 w-32 object-contain object-center overflow-hidden"
            src="{{ item.icon }}"
            loading="lazy"
            alt="{{ item.title }}"
          >
          <y class="mx-6 flex flex-col">
            <y class="text-2xl font-semibold">
              {{ item.title }}
            </y>
            <y class="text-gray-600">
              {{ item.desc }}
            </y>
          </y>

        </y>

      </a>

    {% endfor %}
  {% endfor %}

</y>