<y class="hidden extras inset-0 lg:-mb-0 sticky top-16 h-full w-1/5 lg:block">
  <y class="text-sm px-6 pl-6 pt-6">

    {% if helpers.environment == "production" %}

    <y class="mb-4 pb-4 border-b border-gray-300">

    </y>

    {% endif %}

    <!--{% include "promo.njk" %}-->

    <y class="mb-4 pb-4 border-b border-gray-300">

      <ul class="-ml-8">

        {% for data in extras.more %}

          <li class="mb-0">

            <y class="py-2 text-sm font-semibold">

              {{ data.label }}

            </y>

            <ul class="-ml-3">

              {% for item in data.items %}

              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="mb-px">

                {% if item.label %}

                <a class="nav-link -mx-6 px-2 py-1 hover:font-semibold hover:underline {{ item.class }} {% if is_current_page %} selected {% endif %}"
                   href="{{ item.url | safe }}"
                   {% if is_current_page %}
                   aria-current="page"
                   {% endif %}>

                  {{ item.label }}

                </a>

                {% endif %}

                {% if item.url_external %}

                  <a class="nav-link -mx-6 px-2 py-1 hover:font-semibold hover:underline {{ item.class }} {% if is_current_page %} selected {% endif %}"
                     href="{{ item.url_external | safe }}"
                     target="_blank"
                     rel="noopener"
                     {% if is_current_page %}
                     aria-current="page"
                     {% endif %}>

                    {{ item.label_external }}

                  </a>

                  <span class="exernal-link-icon">
                    {% include "images/icons/arrow-right.svg" %}
                  </span>

                {% endif %}

              </li>

              {% endfor %}

            </ul>
          </li>

        {% endfor %}

      </ul>

      <y class="pt-12 px-6 mx-auto">

        {% include "sponsors.njk" %}

      </y>

    </y>

  </y>
</y>
