<y class="hidden extras inset-0 (lg)-mb-0 sticky top-16 h-full w-1/5 (lg)block">
  <y class="px-6 pl-6 pt-6 text-sm">

    {% if helpers.environment == "production" %}

    <y class="mb-4 pb-4 border-b border-gray-300"></y>

    {% endif %}

    <y class="mb-4 pb-4 border-b border-gray-300">

      <ul class="-ml-8">

        {% for data in extras.more %}

          <li class="mb-0">

            <y class="py-2 text-sm text-gray-700 (dark)text-orange-600 font-semibold filter saturate-4">
              {{ data.label }}
            </y>

            <ul class="-ml-3">

              {% for item in data.items %}

              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="mb-px">

                {% if item.label %}

                <a
                  class="nav-link -mx-8 px-2 py-2 text-gray-700 (hover)font-semibold (hover)underline rounded-lg {{ item.class }} {% if is_current_page %} selected {% endif %}"
                  href="{{ item.url | safe }}"

                  {% if is_current_page %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ item.label }}
                </a>

                {% endif %}

                {% if item.url_external %}

                  <a
                    class="nav-link -mx-8 px-2 py-2 text-gray-700 (hover)font-semibold (hover)underline {{ item.class }} {% if is_current_page %} selected rounded-lg {% endif %}"
                    href="{{ item.url_external | safe }}"
                    target="_blank"
                    rel="noopener"

                    {% if is_current_page %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ item.label_external }}
                  </a>

                  <span class="external-link-icon">
                    {% include "images/icons/arrow-right.svg" %}
                  </span>

                {% endif %}

              </li>

              {% endfor %}

            </ul>
          </li>

        {% endfor %}

      </ul>

    </y>

  </y>
</y>
