<y class="flex flex-gap-4 flex-wrap justify-start items-start">

  {% for data in features.gettingstarted %}
    {% for item in data.items %}

      <a
        class="appearance-none"
        href="{{ item.url }}"
        target="_self"
        rel="noopener"
      >
        <y class="(group) flex justify-center items-center h-24 (xs)w-full (lg)w-56 border-4 border-gray-300 (hover)border-orange-600 (dark)border-gray-800 (hover)shadow-lg filter saturate-4 transition duration-300 linear rounded-lg">

          <y class="p-6 flex justify-center items-center">
            <y class="text-gray-700 (dark)text-gray-500 text-xl font-semibold transition duration-300 linear">
              {{ item.title }}
            </y>
          </y>

        </y>

      </a>

    {% endfor %}
  {% endfor %}

</y>