<y class="my-5 flex flex-wrap flex-gap-10 justify-center items-stretch">

  {% for data in features.features %}
    {% for item in data.items %}

      <y class="p-6 (xs)w-full (lg)w-48 h-auto text-white (hover)text-gray-800 (dark)text-gray-800 bg-gray-800 (hover)bg-gray-300 (dark)bg-gray-400 rounded-lg select-none">

        <y class="pb-4 text-xl font-semibold">

          {{ item.title }}

        </y>

        <y class="text-sm">

          {{ item.desc }}

        </y>

      </y>

    {% endfor %}
  {% endfor %}

</y>