<y class="flex flex-gap-4 flex-wrap justify-start items-start">

  {% for data in features.gettingstarted %}
    {% for item in data.items %}

      <y class="(group) h-24 (xs)w-full (lg)w-56 pattern dots-md text-gray-100 bg-gray-200 border-4 border-transparent (hover)border-gray-800 (hover)shadow-lg transition duration-300 linear rounded-lg">

        <a class="appearance-none"
           href="{{ item.url }}"
           target="_self"
           rel="noopener">

          <y class="p-6 flex justify-center items-center">
            <y class="text-gray-800 text-xl font-normal border-b-4 border-transparent (group-hover)border-orange-600 transition duration-300 linear filter saturate-4">
              {{ item.title }}
            </y>
          </y>

        </a>

      </y>

    {% endfor %}
  {% endfor %}

</y>