<footer class="footer flex mt-24 pt-8 px-4 w-full border-t border-gray-300 justify-end text-sm">

  <a class="p-2 hover:font-semibold text-gray-700 hover:text-gray-900 hover:font-semibold hover:underline mr-auto"
     href="{{ site.urls.laboratory }}"
     target="_blank"
     rel="noopener"
     title="More unpolished utilities are in the laboratory.">
    Laboratory
  </a>
  
  <a class="p-2 hover:font-semibold text-gray-700 hover:text-gray-900 hover:font-semibold hover:underline"
     href="{{ site.urls.discord }}"
     target="_blank"
     rel="noopener"
     title="Join Discord channel">
    Discord
  </a>

  <a class="p-2 hover:font-semibold text-gray-700 hover:text-gray-900 hover:font-semibold hover:underline"
     href="{{ site.urls.github }}"
     target="_blank"
     rel="noopener"
     title="Visit yogurt.css repo @Github">
    GitHub
  </a>

</footer>
