<y class="(xs)p-4 (2k)px-64 py-8 flex (xs)flex-col (sm)flex-row flex-wrap justify-around items-start text-sm">

  {% for columnone in footer.columnone %}

    <y>
      <y class="py-4 font-semibold uppercase">
        {{ columnone.label }}
      </y>

      {% for item in columnone.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <y class="flex flex-gap-2 flex-col justify-start font-semibold text-gray-600 (hover)text-gray-700">

          <a class="pb-2 (hover)text-gray-800 (hover)underline transition duration-200 ease-in"
              href="{{ item.url | safe }}"
              target="{{ item.target }}"
              rel="noopener"
              {% if is_current_page %}
              aria-current="page"
              {% endif %}>

            {{ item.label }}

          </a>

        </y>

      {% endfor %}
    </y>

  {% endfor %}

  {% for columntwo in footer.columntwo %}

    <y>
      <y class="py-4 font-semibold uppercase">
        {{ columntwo.label }}
      </y>

      {% for item in columntwo.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <y class="flex flex-gap-2 flex-col justify-start font-semibold text-gray-600 (hover)text-gray-700">

          <a class="pb-2 (hover)text-gray-800 (hover)underline transition duration-200 ease-in"
              href="{{ item.url | safe }}"
              target="_self"
              rel="noopener"
              {% if is_current_page %}
              aria-current="page"
              {% endif %}>

            {{ item.label }}

          </a>

        </y>

      {% endfor %}
    </y>

  {% endfor %}

  {% for columnthree in footer.columnthree %}

    <y>
      <y class="py-4 font-semibold uppercase">
        {{ columnthree.label }}
      </y>

      {% for item in columnthree.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <y class="flex flex-gap-2 flex-col justify-start font-semibold text-gray-600 (hover)text-gray-700">

          <a class="pb-2 (hover)text-gray-800 (hover)underline transition duration-200 ease-in"
              href="{{ item.url | safe }}"
              target="_self"
              rel="noopener"
              {% if is_current_page %}
              aria-current="page"
              {% endif %}>

            {{ item.label }}

          </a>

        </y>

      {% endfor %}
    </y>

  {% endfor %}

{% for columnfour in footer.columnfour %}

    <y>
      <y class="py-4 font-semibold uppercase">
        {{ columnfour.label }}
      </y>

      {% for item in columnfour.items %}

        {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

        <y class="flex flex-gap-2 flex-col justify-start font-semibold text-gray-600 (hover)text-gray-700">

          <a class="pb-2 (hover)text-gray-800 (hover)underline transition duration-200 ease-in"
              href="{{ item.url | safe }}"
              target="{{ item.target }}"
              rel="noopener"
              {% if is_current_page %}
              aria-current="page"
              {% endif %}>

            {{ item.label }}

          </a>

        </y>

      {% endfor %}
    </y>

  {% endfor %}

</y>
