<y class="flex flex-gap-6 flex-wrap justify-center items-center">

  {% for data in panels.gettingstarted %}
    {% for item in data.panels %}

      <y class="relative h-72 w-full transition duration-300 transform (hover)translate-y-2">
        <y class="z-30 absolute px-10 py-8">

          <y class="pb-2 text-3xl text-gray-100">
            {{ item.title }}
          </y>

          <y class="pb-8 text-lg text-gray-100">
            {{ item.desc }}
          </y>

          {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

          <a class="my-4 px-5 py-4 text-white (hover)text-gray-800 font-semibold {{ item.buttonbg }} {{ item.buttonbghover }} border-2 border-white shadow-dreamy-sm (hover)shadow-dreamy-md text-center rounded-md transition duration-300 ease-in-out"
           href="{{ item.url | safe }}"
           target="{{ item.target }}"
           rel="noopener"
           {% if is_current_page %}
            aria-current="page"
           {% endif %}>

            {{ item.button }}

          </a>
        </y>

        <y class="z-20 absolute top-0 right-0 w-full">
          <y class="h-72 w-full pattern ripple-lg opacity-25 rounded-lg"></y>
        </y>

        <y class="z-10 absolute top-0 right-0 w-full">
          <y class="h-72 w-full bg-gradient {{ item.gradientstart }} start-10 {{ item.gradientend }} stop-90 -angle-45 rounded-md"></y>
        </y>

      </y>

    {% endfor %}
  {% endfor %}

</y>