<header class="z-30 header {% if id == "home" %} sticky {% else %} sticky {% endif %} mt-4 h-16 top-0 flex items-center bg-gray-100 w-full">
  <y class="relative px-6 max-w-screen-xl mx-auto flex flex-row items-center justify-between w-full">

    <y class="header-left mr-2 flex-shrink-0">

      <a class="header-logo block"
         href="/"
         target="_self"
         rel="noopener"
         title="Yogurt CSS Home">

        <img class="hidden mx-4 sm:block h-10 w-auto object-cover object-center overflow-hidden opacity-75"
             src="/images/logo/logo_full.svg"
             alt="Yougrt CSS">

        <img class="block mr-4 sm:hidden h-10 w-auto object-fit object-center overflow-hidden opacity-75"
             src="/images/logo/logo_small.svg"
             alt="Yogurt CSS">
      </a>

    </y>

    <y class="search relative flex-grow max-w-3xl xs:ml-0 sm:-mr-4">

      <input class="search-input px-4 py-2 appearance-none outline-none inline-block bg-gray-300 focus:bg-white placeholder-gray-800 text-gray-800 hover:text-gray-900 border-2 border-gray-300 rounded-lg w-full"
             placeholder="Press `/` key to start search" />

      <y class="search-results fixed lg:absolute left-4 lg:left-auto right-4 lg:right-auto top-100 p-2 mt-2 text-sm bg-white lg:min-w-full rounded-lg shadow-2xl overflow-hidden overflow-y-auto"
           data-state="no-term"></y>

    </y>

    <nav class="header-nav hidden lg:flex">

      <ul class="menu flex flex-col lg:flex-row items-center list-reset">

        <li>
          <a class="inline-block px-3 py-3 text-gray-800 hover:text-gray-900 rounded align-middle"
             href="{{ site.urls.discord }}"
             target="_blank"
             title="Discord">

            {% include "images/icons/discord.svg" %}

          </a>
        </li>

        <li>
          <a class="inline-block px-3 py-3 text-gray-800 hover:text-gray-900 rounded align-middle"
             href="{{ site.urls.twitter }}"
             target="_blank"
             title="Twitter">

            {% include "images/icons/twitter.svg" %}

          </a>
        </li>

        <li>
          <a class="inline-block px-3 py-3 text-gray-800 hover:text-gray-900 rounded align-middle"
             href="{{ site.urls.github }}"
             target="_blank"
             title="Github">

            {% include "images/icons/github.svg" %}

          </a>
        </li>

      </ul>

    </nav>

    <nav class="header-nav lg:hidden flex">
      <ul class="menu flex flex-row items-center list-reset text-sm">

        <li>
          <a class="inline-block p-2 mr-1 text-gray-800 hover:text-gray-900 align-middle rounded"
             href="{{ site.urls.github }}"
             target="_blank">

            {% include "images/icons/github.svg" %}

          </a>
        </li>

        <li>
          <button class="menu-toggle inline-block py-1 pl-2">
            <svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <line class="line1" x1="0" y1="8" x2="24" y2="8" style="stroke: #000; stroke-width: 3" />
              <line class="line2" x1="0" y1="16" x2="24" y2="16" style="stroke: #000; stroke-width: 3" />
            </svg>
          </button>
        </li>

      </ul>
    </nav>

  </y>
</header>
