<y class="pattern ripple-lg p-6 flex justify-center items-center text-gray-100 (dark)text-charcoal-100 bg-gray-400 (dark)bg-gray-800 w-full">

  <y class="p-6 text-gray-900 (dark)text-gray-400 w-screen flex flex-col justify-center items-center">

    <y class="my-2 (2k)mx-24 (lg)px-32 (2k)px-64 (xs)text-2xl (lg)text-4xl text-center depth-wider">
      A colossal low-level utility CSS framework for crafting beautiful and elegant user interface at an atomic level.
    </y>

    <a class="my-4"
       href="/installation/">
      <y class="max-w-xxs px-6 py-3 text-center text-lg font-semibold text-white (hover)text-gray-800 (focus)text-gray-800 (dark)text-gray-800 bg-gray-800 (hover)bg-gray-300 (focus)bg-gray-300 (dark)bg-gray-400 rounded transition duration-200 ease-in-out">
        Getting Started
      </y>
    </a>

    <y class="text-sm text-gray-600 (dark)text-gray-400">
      v{{ site.version.core }}-solidcore
    </y>

    {% include "features.njk" %}

  </y>

</y>

