<y class="pattern dots-sm text-gray-300 dark:text-gray-700 p-6 flex justify-center items-center w-full">

  <y class="p-6 text-gray-900 dark:text-gray-400 w-screen flex flex-col justify-center items-center">

    <y class="my-2 2k:mx-24 2k:px-64 xs:text-2xl lg:text-3xl text-center depth-wider">
      A colossal low-level utility CSS framework for crafting beautiful and elegant user interface at an atomic level without writing a single line of CSS.
    </y>

    <a class="my-4"
       href="/installation/">
      <y class="max-w-xxs px-6 py-3 text-center text-lg font-semibold text-white dark:text-gray-800 hover:text-gray-800 bg-gray-800 dark:bg-gray-400 hover:bg-gray-300 rounded transition duration-200 ease-in-out">
        Getting Started
      </y>
    </a>

    <y class="text-sm text-gray-600 dark:text-gray-400">
      v{{ site.version.core }}-solidcore
    </y>

  </y>

</y>

