<y class="my-5 flex flex-wrap flex-gap-10 justify-center items-stretch">

  {% for data in home.features %}
    {% for item in data.items %}

      <y class="p-6 (xs)w-full (lg)w-48 h-auto text-gray-800 bg-gray-300 rounded-lg shadow-sm-gray-300 animation fade-in-up duration-800">

        <y class="pb-4 text-xl font-semibold">

          {{ item.title }}

        </y>

        <y class="text-sm">

          {{ item.desc }}

        </y>

      </y>

    {% endfor %}
  {% endfor %}

</y>