{# TODO: replace markdown codeblock #}
<script src="../monaco-editor/min/vs/loader.js"></script>
<script>
  const codeblock = function (id, value, language) {
    require.config({
      paths: {
        vs: '../monaco-editor/min/vs'
      }
    });
    require(['vs/editor/editor.main'], function () {
      const editor = monaco.editor
        .create(document.getElementById(id), {
          value: value,
          language: language,
          //accessibilitySupport: 'auto',
          //autoClosingBrackets: true,
          //autoIndent: true,
          //automaticLayout: true,
          //codeLens: false,
          //colorDecorators: true,
          contextmenu: false,
          //cursorStyle: 'line',
          //disableLayerHinting: true,
          //emptySelectionClipboard: false,
          //enableSplitViewResizing: false,
          folding: false,
          //foldingHighlight: false,
          //foldingStrategy: "indentation",
          //fontFamily: '',
          fontWeight: '700',
          fontSize: 13,
          //formatOnPaste: false,
          //formatOnType: false,
          glyphMargin: false,
          lineNumbers: 'off',
          //lineNumbersMinChars: 2,
          minimap: {
            enabled: false
          },
          //quickSuggestions: {
          //  "other": false,
          //  "comments": false,
          //  "strings": false
          //},
          //quickSuggestionsDelay: 500,
          readOnly: true,
          renderWhitespace: true,
          //roundedSelection: true,
          scrollBeyondLastLine: false,
          //selectionClipboard: false,
          //selectOnLineNumbers: true,
          //showFoldingControls: 'always',
          //tabCompletion: 'on',
          tabSize: '2',
          theme: 'vs-dark',
          //useTabStops: false,
          wordWrap: 'on',
          wordWrapMinified: true,
          wrappingIndent: 'indent'
        });
    });
  }
</script>

<y class="m-4 px-2 py-4 bg-codeblock rounded-lg shadow">
  <y
    class="h-64 filter hue-rotate-15"
    id="1404a415e3b6b3dc64e7d287">
  </y>
</y>

<script>
  codeblock('1404a415e3b6b3dc64e7d287', [
    '<!-- Example -->',
    '<y class="box-border">',
    '  ...',
    '</y>'
  ].join('\n'), 'html');
</script>