<y class="flex justify-center items-center gradient-orange-juice w-full filter saturate-5">
  <y class="p-2 text-white text-sm font-medium">
    <span>
      New
    </span>
    <span class="inline-block mx-1 px-2 py-0 text-orange-500 bg-gray-100 bg-opacity-75 rounded">
      version 1.1.6
    </span>
    <span class="ml-1">
      has released!
      Read the preview
      <a href="/news-releases/">
        <u>here</u>.
      </a>
    </span>
  </y>
</y>
