<y class="relative mb-2 p-3 border-l-8 border-gray-600 text-sm text-gray-600 bg-gray-200 (dark)bg-gray-800">
  <span class="pr-1 font-semibold">
    NEWS:
  </span>
  Major changes to the
  <a class="font-semibold (hover)underline"
     href="/#utility-class-design">
    Utility Class Design
  </a> since version {{ site.version.core }}. Also read
  <a class="font-semibold (hover)underline"
     href="/pseudo-class-variants/">
    Pseudo-Class Variants
  </a>.
  <y class="absolute top-1 right-1">
    <y class="h-2 w-2 bg-gray-800 (dark)bg-orange-500 filter saturate-10 rounded animation fade-out duration-1000 delay-1 loop-infinite"></y>
  </y>
</y>

<y class="relative mb-4 p-3 border-l-8 border-gray-600 text-sm text-gray-600 bg-gray-200 (dark)bg-gray-800">
  <span class="pr-1 font-semibold">
    NEWS:
  </span>
  New version {{ site.version.core }} has released. Check the updates in
  <a class="font-semibold (hover)underline"
     href="/utility-map/">
    Utility Map
  </a>.
  <y class="absolute top-1 right-1">
    <y class="h-2 w-2 bg-gray-800 (dark)bg-orange-500 filter saturate-10 rounded animation fade-out duration-2000 delay-1 loop-infinite"></y>
  </y>
</y>