<y class="p-4 h-24 flex justify-center items-center bg-gray-400 rounded-md">
  <img class=""
       src="/images/logo/log_small.svg"
       loading="lazy"
       alt="Yogurt Playground">
  <y>
    Playground
  </y>
</y>