<y class="search relative flex-grow max-w-3xl (xs)ml-0 (sm)-mr-4">

  <input
    class="search-input px-0 py-2 inline-block appearance-none outline-none bg-transparent (dark)bg-charcoal-100 (focus)text-gray-500 (focus)bg-transparent placeholder-gray-800 (dark)placeholder-gray-100 border-b-4 {% if id == "home" %} border-gray-700 {% else %} border-gray-700 {% endif %} (dark)border-gray-700 (focus)border-orange-600 w-full filter saturate-4 select-none"
    placeholder="Documentation"
    type="text"
  />

  <y
    class="search-results fixed (lg)absolute left-0 (lg)left-auto right-0 (lg)right-auto top-100 p-2 mt-2 text-sm bg-white (dark)bg-gray-700 (lg)min-w-full rounded-lg shadow-2xl overflow-hidden overflow-y-auto overscroll-contain"
    data-state="no-term">
  </y>

  <y class="(xs)invisible (sm)visible z-20 absolute top-2 right-0 flex justify-center items-center text-gray-600 select-none">
    <y class="mx-2">
      Press
    </y>
    <y class="mt-px h-5 px-1 text-sm font-mono text-gray-500 uppercase bg-transparent (dark)bg-gray-700 border border-gray-400 (dark)border-gray-700 rounded">
      /
    </y>
    <y class="ml-2">
      to search
    </y>
  </y>

</y>