<y class="sidebar hidden fixed inset-0 pt-16 h-screen z-20 w-full bg-gray-100 lg:sticky lg:overflow-y-visible lg:pt-0 lg:w-1/5 lg:block lg:top-16 lg:pb-16 lg:-mb-16">
  <y class="sidebar-inner overflow-hidden h-full">
    <nav class="sidebar-scroller text-md sm:text-sm inset-0 overflow-y-auto overflow-x-hidden px-6 py-8 h-full">

      <ul class="-ml-8">

        {% for section in main.sections %}

          <li class="mb-4">

            <span class="block mb-2 text-sm sm:text-xs uppercase font-bold text-gray-900">

              {{ section.label }}

            </span>

            <ul class="-ml-8">

              {% for item in section.items %}

              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="mb-px">

                <a class="nav-link -mx-2 p-2 {{ item.class }} {% if is_current_page %} selected {% endif %}"
                   href="{{ item.url | safe }}"
                   {% if is_current_page %}
                   aria-current="page"
                   {% endif %}>

                  {{ item.label }}

                  {% if item.external %}
                    <span class="exernal-link-icon">
                      {% include "images/icons/arrow-right.svg" %}
                    </span>
                  {% endif %}

                </a>

              </li>

              {% endfor %}

            </ul>
          </li>

        {% endfor %}

        {% for data in extras.more %}

          <li class="sm:block md:hidden lg:hidden mb-4">

            <span class="block mb-2 text-sm sm:text-xs uppercase font-bold text-gray-900">

              {{ data.label }}

            </span>

            <ul class="-ml-8">

              {% for item in data.items %}

              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="mb-px">

                <a class="nav-link -mx-2 p-2 {{ item.class }} {% if is_current_page %} selected {% endif %}"
                   href="{{ item.url | safe }}"
                   {% if is_current_page %}
                   aria-current="page"
                   {% endif %}>

                  {{ item.label }}

                  {% if item.external %}
                    <span class="exernal-link-icon">
                      {% include "images/icons/arrow-right.svg" %}
                    </span>
                  {% endif %}

                </a>

              </li>

              {% endfor %}

            </ul>
          </li>

        {% endfor %}

        {% for section in navigation.sections %}

          <li class="mb-4">

            <span class="block mb-2 text-sm sm:text-xs uppercase font-bold text-gray-900">

              {{ section.label }}

            </span>

            <ul class="-ml-8">

              {% for item in section.items %}

              {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

              <li class="mb-px">

                <a class="nav-link -mx-2 p-2 {{ item.class }} {% if is_current_page %} selected {% endif %}"
                   href="{{ item.url | safe }}"
                   {% if is_current_page %}
                   aria-current="page"
                   {% endif %}>

                  {{ item.label }}

                  {% if item.external %}
                    <span class="exernal-link-icon">
                      {% include "images/icons/arrow-right.svg" %}
                    </span>
                  {% endif %}

                </a>

              </li>

              {% endfor %}

            </ul>
          </li>

        {% endfor %}

      </ul>

    </nav>
  </y>
</y>