<y class="z-20 sidebar hidden h-screen__ w-20 lg:block xs:fixed lg:sticky lg:top-0 inset-0py-0 bg-red-300 dark:bg-charcoal-100 lg:overflow-y-visible">
  <y class="sidebar-inner__ overflow-hidden h-full__">

    <y class="flex-shrink-0">

      <a class="block"
         href="/"
         target="_self"
         rel="noopener"
         title="Yogurt CSS">

        <img theme="auto"
             class="block h-10 w-auto object-fit object-center overflow-hidden opacity-75"
             src="/images/logo/logo_small.svg"
             alt="Yogurt CSS">
      </a>

    </y>

  </y>
</y>