<y class="flex">

  <a class="mr-4 text-xs text-gray-600"
     href="https://www.patreon.com/bePatron?u=5719325"
     target="_blank"
     rel="noopener"
     title="Become A Patreon!">

    <img theme=""
         class="w-8 h-8 object-cover object-center overflow-hidden hover:opacity-75 transition duration-500 ease-in-out transform hover:-translate-y-2"
       src="/images/logo/patreon_512.png">
  </a>

  <a class="mr-4 text-xs text-gray-600"
     href="https://ko-fi.com/S6S01OZEW"
     target="_blank"
     rel="noopener"
     title="Buy Me Coffee!">

    <img theme=""
         class="w-8 h-8 object-cover object-center overflow-hidden hover:opacity-75 transition duration-500 ease-in-out transform hover:-translate-y-2"
       src="/images/logo/ko-fi_512.png">
  </a>

  <a class="mr-4 text-xs text-gray-600"
     href="https://paypal.me/loouisneedsbreakfast"
     target="_blank"
     rel="noopener"
     title="PayPal">

    <img theme=""
         class="w-8 h-8 object-cover object-center overflow-hidden hover:opacity-75 transition duration-500 ease-in-out transform hover:-translate-y-2"
       src="/images/logo/paypal_512.png">
  </a>

</y>
