<y class="mx-auto px-6 pt-10 flex">

  <a class="mr-4 text-xs text-gray-600"
     href="https://www.patreon.com/bePatron?u=5719325"
     target="_blank"
     rel="noopener"
     title="Become A Patreon!">

    <img theme=""
         class="w-10 h-10 object-cover object-center overflow-hidden hover:opacity-75 transition duration-500 ease-in-out"
       src="/images/logo/patreon_512.png">
  </a>

  <a class="mr-4 text-xs text-gray-600"
     href="https://ko-fi.com/S6S01OZEW"
     target="_blank"
     rel="noopener"
     title="Buy Me Coffee!">

    <img theme=""
         class="w-10 h-10 object-cover object-center overflow-hidden hover:opacity-75 transition duration-500 ease-in-out"
       src="/images/logo/ko-fi_512.png">
  </a>

</y>