{% if item.enable == "y" %}<span class="px-3 py-1 text-sm text-gray-100 bg-gray-700 rounded-full">{{ item.variant }}</span>{% endif %}{% if item.enable == "n" %}<span class="px-3 py-1 text-sm text-gray-500 bg-gray-300 rounded-full">{{ item.variant }}</span>{% endif %}