{% if item.enable == "y" %}<span class="px-3 py-1 text-sm font-medium text-gray-100 (dark)text-charcoal-100 bg-gray-700 (dark)bg-orange-600 rounded-full filter saturate-4">{{ item.variant }}</span>{% endif %}{% if item.enable == "n" %}<span class="px-3 py-1 text-sm text-gray-500 (dark)text-gray-700 bg-gray-300 (dark)bg-gray-800 rounded-full">{{ item.variant }}</span>{% endif %}