<y class="p-4 text-gray-600 flex justify-center items-center w-full">
  <y class="max-w-xs flex flex-col justify-center items-center">
    <img
      class="h-20 w-20 bg-gray-100 object-cover object-top border-4 border-white (dark)border-gray-700 rounded-full shadow-lg filter brightness-2"
      src="/images/icons/author.jpg"
      loading="lazy"
      alt="Loouis Low"
    >
    <y class="pt-4 pb-2 text-lg font-semibold">
      Loouis Low
    </y>
    <y class="pb-1 font-sans text-italic text-center filter saturate-4">
      From the creator of Noozxoide Laboratories (<a class="text-orange-600 (hover)text-gray-700 (hover)underline" href="https://dev.to/loouislow/noozy-and-audiophile-grade-music-library-for-linux-and-windows-145k" target="_blank" rel="noopener">Noozy</a>, <a class="text-orange-600 (hover)text-gray-700 (hover)underline" href="https://dev.to/loouislow/nostalgia-museum-for-noozxoide-labs-android-from-2012-to-2017-37od" target="_blank" rel="noopener">EIZO VSP</a>), <a class="text-orange-600 (hover)text-gray-700 (hover)underline" href="https://kraft.netlify.app" target="_blank" rel="noopener">Kraft</a>, and many more... Go find out more <a class="text-orange-600 font-medium underline" href="https://loouislow.netlify.app" target="_blank" rel="noopener" title="Visit my personal website">about</a> me.
    </y>
  </y>
</y>
