<y class="flex (xs)flex-col (sm)flex-row">
  <y class="(xs)hidden (sm)block pt-8 pr-6 py-6 w-1/5 border-r-2 border-gray-200 (dark)border-gray-700 border-dashed flex justify-center items-start">
    <y class="text-gray-500 text-center">
      <y class="font-semibold">
        Thursday
      </y>
      <y class="text-italic">
        13 May 2021
      </y>
    </y>
  </y>
  <y class="(xs)p-2 (sm)p-6 (xs)w-full (sm)w-4/5 border-b-2 border-gray-200 (dark)border-gray-700 border-dashed text-left">
    <y class="(xs)block (sm)hidden text-sm text-gray-500">
      <y class="font-semibold">
        Thursday,
        <span class="text-italic">
          13 May 2021
        </span>
      </y>
    </y>
    <y class="pb-2 text-3xl font-semibold depth-normal">
      Yogurt CLI v1.1.6 has released!
    </y>
    <y class="text-lg depth-normal">
      A terminal dev tool for creating new empty project with pre-processors and post-processors built-in. With this tool, you can write Sass/Scss styling codes with supported <a href="/extract-utility-classes/">@extend</a> directive. <br><br>
      Serve the project, any changes to the project is immediately updated and hot-reloaded on a web browser. Read more about the <a href="/installation/">installation via Package Manager</a>.
    </y>
  </y>
</y>