<y class="flex (xs)flex-col (sm)flex-row">
  <y class="(xs)hidden (sm)block pt-8 pr-6 py-6 w-1/5 border-r-2 border-gray-200 (dark)border-gray-700 border-dashed flex justify-center items-start">
    <y class="text-gray-500 text-center">
      <y class="font-semibold">
        Thursday
      </y>
      <y class="text-italic">
        13 May 2021
      </y>
    </y>
  </y>
  <y class="(xs)p-2 (sm)p-6 (xs)w-full (sm)w-4/5 border-b-2 border-gray-200 (dark)border-gray-700 border-dashed text-left">
    <y class="(xs)block (sm)hidden text-sm text-gray-500">
      <y class="font-semibold">
        Thursday,
        <span class="text-italic">
          13 May 2021
        </span>
      </y>
    </y>
    <y class="pb-2 text-3xl font-semibold depth-normal">
      Version 1.1.5
    </y>
    <y class="text-lg depth-normal"></y>
    <y class="text-gray-600">
      <y class="pt-2 font-semibold">
        Major Changes
      </y>
      <ul class="list-disc">
        <li>
          Rewritten framework completely.
        </li>
        <li>
          Improved Plugin API for more flexibility to configure the variants.
        </li>
        <li>
          Refactor module file structure.
        </li>
        <li>
          Refactor <strong>_helper.scss</strong> functions into a separate module.
        </li>
        <li>
          Refactor <strong>_setRule.scss</strong> functions and <strong>Plugin API</strong> functions to a separate module.
        </li>
        <li>
          Refactor <strong>_config.scss</strong>.
        </li>
      </ul>
    </y>
  </y>
</y>