<y class="flex (xs)flex-col (sm)flex-row">
  <y class="(xs)hidden (sm)block pt-8 pr-6 py-6 w-1/4 border-r-2 border-gray-200 (dark)border-gray-700 border-dashed flex justify-center items-start">
    <y class="text-gray-500 text-center">
      <y class="font-semibold">
        Sunday
      </y>
      <y class="text-italic">
        14 March 2021
      </y>
    </y>
  </y>
  <y class="(xs)p-2 (sm)p-6 (xs)w-full (sm)w-3/4 border-b-2 border-gray-200 (dark)border-gray-700 border-dashed text-left">
    <y class="(xs)block (sm)hidden text-sm text-gray-500">
      <y class="font-semibold">
        Sunday,
        <span class="text-italic">
          14 March 2021
        </span>
      </y>
    </y>
    <y class="pb-2 text-3xl font-semibold depth-normal">
      Version 1.1.4
    </y>
    <y class="text-lg font-thin depth-normal"></y>
    <y class="text-gray-600">
      <y class="pt-2 font-semibold">
        Minor Changes
      </y>
      <ul class="list-disc">
        <li>
          Set default selected utility modules as non-responsive variants.
        </li>
        <li>
          Add <strong>(focus-within)</strong>, <strong>(focus-visible)</strong> variants into Plugin API module.
        </li>
        <li>
          Add new <strong>(focus-visible)</strong> variant.
        </li>
      </ul>
    </y>
  </y>
</y>