<y class="flex (xs)flex-col (sm)flex-row">
  <y class="(xs)hidden (sm)block pt-8 pr-6 py-6 w-1/4 border-r-2 border-gray-200 (dark)border-gray-700 border-dashed flex justify-center items-start">
    <y class="text-gray-500 text-center">
      <y class="font-semibold">
        Monday
      </y>
      <y class="text-italic">
        19 April 2021
      </y>
    </y>
  </y>
  <y class="(xs)p-2 (sm)p-6 (xs)w-full (sm)w-3/4 border-b-2 border-gray-200 (dark)border-gray-700 border-dashed text-left">
    <y class="(xs)block (sm)hidden text-sm text-gray-500">
      <y class="font-semibold">
        Monday,
        <span class="text-italic">
          19 April 2021
        </span>
      </y>
    </y>
    <y class="pb-2 text-3xl font-semibold">
      Visual Studio Code IntelliSense Extension v1.0.0 Beta
    </y>
    <y class="text-lg font-thin depth-normal">
      The dev tool is to improving on writing Yogurt utility classes more convenience. The extension is now available at the <a href="https://marketplace.visualstudio.com/items?itemName=LoouisLow.yogurtcss-vscode-intellisense" target="_blank" rel="noopener" title="Visit Visual Studio Marketplace">Visual Studio MarketPlace</a>. Read more details on <a href="/intellisense/">how to install</a> or visit <a href="https://github.com/yogurt-foundation/vscode-intellisense">Github</a> repository page.
    </y>
  </y>
</y>