<y class="flex (xs)flex-col (sm)flex-row">
  <y class="(xs)hidden (sm)block pt-8 pr-6 py-6 w-1/4 border-r-2 border-gray-200 (dark)border-gray-700 border-dashed flex justify-center items-start">
    <y class="text-gray-500 text-center">
      <y class="font-semibold">
        Wednesday
      </y>
      <y class="text-italic">
        23 June 2021
      </y>
    </y>
  </y>
  <y class="(xs)p-2 (sm)p-6 (xs)w-full (sm)w-3/4 border-b-2 border-gray-200 (dark)border-gray-700 border-dashed text-left">
    <y class="(xs)block (sm)hidden text-sm text-gray-500">
      <y class="font-semibold">
        Wednesday,
        <span class="text-italic">
          23 June 2021
        </span>
      </y>
    </y>
    <y class="pb-2 flex (xs)flex-col (sm)flex-row justify-start (xs)items-start (sm)items-center">
      <y class="text-3xl font-semibold depth-normal">
        Version 1.1.6
      </y>
      <y class="(xs)ml-0 (sm)ml-2 px-2 py-1 (xs)inline-block text-white text-xs font-medium bg-orange-600 rounded filter saturate-4">
        Coming Soon
      </y>
    </y>
    <y class="pb-5 text-lg depth-normal">
      Try out the new preview utilities at <a href="https://yogurtcss.netlify.app/playground" target="_blank" rel="noopener" title="Let's go Playground!">Playground</a>.
    </y>
    <y class="text-gray-600">
      <y class="font-semibold">
        New Utilities
      </y>
      <ul class="list-disc">
        <li>
          <strong>Effects: </strong><a href="https://yogurtcss.netlify.app/text-offset-shadow">Text Offset Shadow</a>, <a href="https://yogurtcss.netlify.app/text-neon-shadow">Text Neon Shadow</a>.
        </li>
        <li>
          <strong>Typography: </strong><a href="https://yogurtcss.netlify.app/glyphs">Glyphs</a>, <a href="https://yogurtcss.netlift.app/counter">Counter</a>.
        </li>
        <li>
          <strong>Borders: </strong><a href="https://yogurtcss.netlify.app/curve-object">Curve Object</a>.
        </li>
        <li>
          <strong>Clipping: </strong><a href="https://yogurtcss.netlify.app/clip-polygon">Clip Polygon</a>, <a href="https://yogurtcss.netlify.app/clip-circle">Clip Circle</a>, <a href="https://yogurtcss.netlify.app/clip-ellipse">Clip Ellipse</a>.
        </li>
        <li>
          <strong>Interactivity: </strong><a href="https://yogurtcss.netlify.app/scrollbar">Scrollbar</a>, <a href="https://yogurtcss.netlify.app/text-highlight">Text Highlight</a>.
        </li>
        <li>
          <strong>Rendering: </strong><a href="https://yogurtcss.netlify.app/text-rendering">Text Rendering</a>.
        </li>
        <li>
          <strong>Transforms: </strong><a href="https://yogurtcss.netlify.app/transform-perspective">Transform Perspective</a>.
        </li>
        <li>
          <strong>Filters: </strong><a href="https://yogurtcss.netlify.app/filter-smooth">Smooth</a>.
        </li>
      </ul>
      <y class="pt-2 font-semibold">
        New Variants
      </y>
      <ul class="list-disc">
        <li>
          <a href="/pseudo-class-variants/#selection-hover-v1.1.6">(selection-hover)</a> variant takes only <strong>Filter</strong> utilities to apply to its child elements.
        </li>
        <li>
          <a href="/pseudo-class-variants/#expand-v1.1.6">(expand)</a> variant takes a supported utility to apply to its child elements.
        </li>
      </ul>
      <y class="pt-2 font-semibold">
        Minor Changes
      </y>
      <ul class="list-disc">
        <li>
          Add new components <strong>perspective</strong>, <strong>rotate-x</strong>, <strong>rotate-y</strong>, <strong>rotate-z</strong>, <strong>translate-z</strong>, <strong>scale-z</strong> for <a href="/transform-perspective/">Transforms</a> utilities.
        </li>
        <li>
          Set default <a href="/pseudo-class-variants/#selection-hover-v1.1.6">(selection-hover)</a> variant for <strong>filter</strong> utilities.
        </li>
        <li>
          Set default <a href="/pseudo-class-variants/#expand-v1.1.6">(expand)</a> variant for <a href="/overflow/">Overflow</a>, <a href="/border-radius/">Border Radius</a>, <a href="/padding/">Padding</a>, <a href="/margin/">Margin</a> <a href="/box-shadow/">Box Shadow</a> , <a href="/box-shadow-color/">Box Shadow Color</a> utilities.
        </li>
      </ul>
    </y>
  </y>
</y>