<!doctype html>

<html theme="auto"
      class="scroll-smooth logo-visible text-md (sm)text-md"
      lang="en">

<head>

  <meta charset="utf-8">

  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>
    Yogurt Playground
  </title>

  <meta name="description"
        content="{% if description %}{{ description }}{% else %}{{ excerpt }}{% endif %}">

  <link rel="stylesheet"
        href="/main.css{{ helpers.assetSuffix }}">

  <link rel="stylesheet"
        href="/codemirror/default.css">
  <link rel="stylesheet"
        href="/codemirror/codemirror.css">
  <link rel="stylesheet"
        href="/codemirror/bright.css">

  {% include "meta.njk" %}

  <link rel="icon"
        type="image/svg+xml"
        href="{{ site.images.favicon }}">

  <link rel="canonical"
        href="{{ site.url }}{{ page.url }}">

  {% include "google-analytics.njk" %}

</head>

<body class="font-default antialiased text-gray-900 (dark)text-gray-400 depth-normal bg-gray-100 (dark)bg-charcoal-100">

  <script defer src="/main.js{{ helpers.assetSuffix }}"></script>

  <script src="/codemirror/codemirror.js"></script>
  <script src="/codemirror/xml.js"></script>
  <script src="/codemirror/javascript.js"></script>
  <script src="/codemirror/css.js"></script>
  <script src="/codemirror/htmlmixed.js"></script>
  <script src="/codemirror/foldcode.js"></script>
  <script src="/codemirror/settings.js"></script>
  <script src="/codemirror/jslint.js"></script>
  <script src="/codemirror/template.js"></script>

  <script>
    window.addEventListener("DOMContentLoaded", function() {
      window.liveEditor = new liveEditor(playgroundTemplate)
      window.liveEditor.init()
    })
  </script>

</body>

</html>
