html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#resize-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  display: none;
  z-index: 2;
}

#resize-control {
  position: absolute;
  top: 0px;
  width: 6px;
  height: 100%;
  background-color: #f0f4f8;
  z-index: 3;
}

#resize-control:hover {
  background-color: #2d3748;
}

#live-preview {
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  border: none;
}

@media (prefers-color-scheme: dark) {

  #live-preview {
    filter: invert(1) hue-rotate(180deg);
  }


}
