<footer class="(xs)px-16 (xs)pb-8 (sm)p-12 (2k)px-72 mt-8 w-full">

  <y class="flex justify-between items-center">

    <y class="flex-shrink-0">
      {% include "full-logo.njk" %}
      {% include "small-logo.njk" %}
    </y>

    <y class="text-sm text-gray-500 (dark)text-gray-700">
      <strong>
        VAULT UI
      </strong>
      is copyright &copy; {{site.author.name}}. {{site.author.license}} Licensed.
    </y>

  </y>

</footer>