---
hidden: true
permalink: /api/search.json
---
[
{% for page in collections.searchPages %}
  {
     "title":"{{ page.data.title }}",
     "description":"{{ page.data.description }}",
     "url":"{{ page.url }}",
     "category": "{{ page.data.category }}",
     "tags": "{{ page.data.tags }}",
     "variant": "{{ page.data.variant }}"
  }{% if loop.last != true %},{% endif %}
{% endfor %}
]