---
id: 404
title: Oops!
permalink: 404.html
hidden: true
layout: default
---

<y class="content mb-6 font-semibold">

  <y class="text-2xl">
    {{ title }}
  </y>

  <y class="text-4xl">
    Sorry, we can't find that page.
  </y>

</y>

