---
id: 404
title: Oops! Page Missing!
permalink: 404.html
hidden: true
layout: error
---

<y class="h-full pattern cross-dots-sm text-gray-300 flex justify-center items-center">
  <y class="p-6 text-gray-700 text-2xl font-default font-semibold">
    <y>
      <span class="mr-2">
        Opps!
      </span>
      <span class="px-4 py-2 bg-gray-200">
        <span class="ml-1 underline">
          {{ title }}
        </span>
      </span>
      <span class="ml-3">
        page is missing!
      </span>
    </y>
    <y>
      Sorry, we can't find that page.
    </y>
  </y>
</y>

