---
id: getting-started
title: Getting Started
layout: default
---

<y class="h-full pattern ripple-lg text-gray-700 bg-charcoal-100 rounded-lg overflow-hidden">

  <y class="-mt-4 pb-8">

    <y class="px-4 py-6 flex flex-wrap justify-between items-center w-full">
      <y class="(xs)text-3xl (lg)text-2xl text-gray-400 font-semibold gap-tight">
        Getting Started
      </y>
      <y class="(xs)hidden (sm)block text-sm text-gray-500 font-mono">
        version {{ site.version.framework }}-solidcore
      </y>
    </y>

    {% include "getting-started.njk" %}

  </y>
</y>

<y class="py-6 (xs)text-3xl (lg)text-2xl text-gray-700 (dark)text-gray-400 font-semibold gap-tight">
  Features
</y>

{% include "features.njk" %}

<y class="py-6 (xs)text-3xl (lg)text-2xl text-gray-700 (dark)text-gray-400 font-semibold gap-tight">
  Community
</y>

{% include "community.njk" %}

<y class="py-6 (xs)text-3xl (lg)text-2xl text-gray-700 (dark)text-gray-400 font-semibold gap-tight">
  Support
</y>

{% include "support.njk" %}

