---
id: getting-started
title: Getting Started
description: Getting Started
layout: default
---

<y class="-mt-4 py-4 (xs)text-3xl (lg)text-5xl font-semibold gap-tight">
  Getting Started
</y>

{% include "getting-started.njk" %}

<y class="py-4 (xs)text-3xl (lg)text-5xl font-semibold gap-tight">
  Features
</y>

{% include "features.njk" %}

<y class="py-4 (xs)text-3xl (lg)text-5xl font-semibold gap-tight">
  Community
</y>

{% include "community.njk" %}

<y class="py-4 (xs)text-3xl (lg)text-5xl font-semibold gap-tight">
  Support
</y>

{% include "support.njk" %}