---
id: getting-started
title: Getting Started
layout: default
---

<y class="h-full pattern ripple-lg text-gray-700 bg-charcoal-100 rounded-lg overflow-hidden">

  <y class="-mt-4 pb-8">

    <y class="px-4 py-6 flex flex-wrap justify-between items-center w-full">
      <y class="(xs)text-3xl (lg)text-2xl text-gray-400 font-semibold gap-tight">
        Getting Started
      </y>
      <y class="(xs)hidden (sm)block text-sm text-gray-500 font-mono">
        version {{ site.version.framework }}-solidcore
      </y>
    </y>

    {% include "getting-started.njk" %}

  </y>
</y>

<y class="py-6 (xs)text-3xl (lg)text-2xl text-gray-700 (dark)text-gray-400 font-semibold gap-tight">
  Features
</y>

{% include "features.njk" %}

<y class="py-6 (xs)text-3xl (lg)text-2xl text-gray-700 (dark)text-gray-400 font-semibold gap-tight">
  Community
</y>

{% include "community.njk" %}

<y class="py-6 (xs)text-3xl (lg)text-2xl text-gray-700 (dark)text-gray-400 font-semibold gap-tight">
  Support
</y>

{% include "support.njk" %}

<y class="mt-6 text-gray-600 text-xs">
  Those who are using the CSS Framework that I created. To have a professional and beautiful user interface design. Brings happiness, eliminate troubles, and plant the seeds of Buddha, after all, they are free from suffering. Namo Amitabha.
  <y class="mt-2">
    凡是用了我所制造的 CSS 框架的众生，都得专业美美的平面设计效果，开开心心的，烦恼消灭，皆种成佛种子，毕竟离苦得乐。南无阿弥佗佛。
  </y>
</y>



