---
id: utility-map
title: View All Yogurt CSS Utilities and components
topic:
layout: default
---

<y class="px-2">
  <y class="text-3xl">
    Utility Map
  </y>
  <y class="my-4 text-md">
    All Yogurt utility modules and components at a glance.
  </y>
</y>

<y class="flex flex-wrap justify-start items-start w-full">

  {% for section in navigation.sections %}

    <y class="(xs)w-full (lg)w-1/3 p-4">

      <y class="py-2 text-gray-900 (dark)text-orange-600 (xs)text-2xl (lg)text-xl font-semibold uppercase">
        {{ section.label }}
      </y>

      <y class="flex flex-col justify-start items-start">

        {% for item in section.items %}

          {% set is_current_page = page.url | replace('/', '') == item.url | replace('/', '') %}

            <y class="flex">

              <a class="{{ item.class }} (xs)py-2 (lg)py-1 (xs)text-md (lg)text-sm (hover)font-semibold (hover)underline"
                 href="{{ item.url | safe }}"
                 {% if is_current_page %}
                 aria-current="page"
                 {% endif %}>

                {{ item.label }}

                {% if item.external %}
                  <span class="external-link-icon">
                    {% include "images/icons/arrow-right.svg" %}
                  </span>
                {% endif %}

              </a>

              {% if item.version %}
                <y class="ml-2 (xs)mt-3 (lg)mt-1 px-1 h-5 flex justify-center items-center text-xs text-gray-600 (dark)text-charcoal-100 bg-gray-300 (dark)bg-gray-600 rounded">
                  {{ item.version }}
                </y>
              {% endif %}

            </y>

        {% endfor %}

      </y>
    </y>

  {% endfor %}

</y>